@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'IBM-Light';
    src: url('/fonts/IBM-Light.tff') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  